.banner {
  position: relative; /* Conteneur parent  position relatif */
  background-image: url("../assets/narcos.jpg");
  min-width: 1200 px;
  height: auto;
  padding: 0;
}

.narcos {
  position: absolute;
  /* z-index: -1;
  max-width: 100%;
  left: 0;
  top: 0; */
  /* padding-top: 96px; */
}

.banner-content {
  position: relative; /*  texte reste au-dessus */
  z-index: 1; /* POUR texte au-dessus de l'image */
  text-align: left;
  color: white;
  /* padding: 20px; Ajoute de l'espace autour du texte */
  border-radius: 8px; /* Coins arrondis pour le fond */
  /* height: 646px; */
  height: 540px;
}

.banner-buttons button {
  margin: 10px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.banner-buttons button:hover {
  background-color: rgba(255, 255, 255, 1);
}
