body {
  /* margin: 0; */
  /* font-size: 10px; */
  background-color: #141414;
  color: white;
}
/* Images row 1 et row 2 */

/* Conteneur principal images row1 et row2 */
.main {
  /* padding-bottom: 10px; */
  text-align: left; /* Centrer le texte et l'image */
  background-color: #141414;
  padding-left: 60px;
}

/* Titre */
.main-title {
  font-size: 1rem;
  color: white; /* Couleur sombre */
  margin-bottom: 10px;
}

/* Conteneur des images  */
.images-row1 {
  display: flex;
  justify-content: space-between;
  /* gap: 3px; Espace  images */
  overflow-x: scroll;
  padding-bottom: 10px; /* Optionnel : espace sous la ligne d'images */
  /* max-width: 100%; */
}

.images-row1::-webkit-scrollbar {
  display: none; /* Cache la barre de défilement */
}
/* image */
.main-image2 {
  max-width: 100%;
  height: auto;
  padding-top: 65px;
}
/*POLONAIS*/

.details {
  position: relative;
   
}

.details__bg {
  width: 100%;
  position: absolute;
  z-index: 0;
  
}


.details__content {
  position:relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 67px;
  padding-left: 10px;
  

}


.details__title {
  margin-top: 34px;
}

.details__description {
  max-width: 580px;
}
/*FILMS*/

.scrollable {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}
.film-Ftext {
  border-bottom: 5px rgb(231, 17, 17) solid;
}

.film-text {
  color: rgb(232, 219, 219);
}
.titres a {
  white-space: nowrap;
  transition: all ease 0.25s;
}

.titres a:hover {
  border-bottom: 2px solid red;
  cursor: pointer;
}

.titres .scrollable {
  gap: 76px;
}

/*FILMS 2 MARSEILLE*/
.originaux h3 {
  text-transform: uppercase;
}
.fleche {
  height: 13px;
  margin-left: 35px;
}
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 20px;
  height: 124px;
  width: 204px;
}

.category:nth-child(odd) {
  transition: all ease 0.25s;
}

.category:hover {
  margin-top: 2rem;
}

.category:nth-child(1),
.category:nth-child(4n + 1) {
  background: linear-gradient(#fd5183, #f04275);
}

.category:nth-child(2),
.category:nth-child(4n + 2) {
  background: linear-gradient(#ffc852, #eeb843);
}

.category:nth-child(3),
.category:nth-child(4n + 3) {
  background: linear-gradient(#81a7fc, #6e96ef);
}

.category:nth-child(4),
.category:nth-child(4n + 4) {
  background: linear-gradient(#bf64ff, #ab50eb);
}

@media (max-width: 768px) {
  .images-row {
    flex-wrap: wrap; /* Les images passent à la ligne */
    justify-content: center; /* Centre sur les petits écrans */
  }

  .image-item {
    width: 80px; /* Réduit la taille des images */
    height: 80px;
  }
}
